# W3C validator file
w3c_validator.py

# Python imports
__pycache__/

# VS Code settings
.vscode/

# Test HTML
0x02-CSS_advanced/index.html

# ALX Starter files
0x03-responsive_design/00-index.html
0x03-responsive_design/00-styles.css